name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20
          cache: yarn

      - name: Install
        run: yarn install --frozen-lockfile

      - name: Format check
        run: yarn format:check

      - name: License check
        run: node scripts/check-license.js

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test
